<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
  </head>
  <body>
    <div id="app">
        <div v-if="showBooks">
            <p>{{ title }} {{ author }} {{ age }}</p>
        </div>

        <button @click="toggleshowBooks">
            <span v-if="showBooks">Hide Books</span>
            <span v-if="!showBooks">Show Books</span>
        </button>
    </div>


    <h2>
      This is vue, Lorem ipsum dog elit.
    </h2>
    <script src="app.js"></script>
  </body>
</html>
